<html>
{% load static %}
<title>fIRST 2020</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

<header class="header">
    <div class="header-text">Sign in via:</div>
    <a href="#" class="header-link">Heaven</a>
    <a href="#" class="header-link">Hell</a>
</header>
<section class="landing-section landing-main">
    <div class="landing-section-content">
        <h1 class="nav-link">
            {% if latest_question_list %}
            <ul>
                {% for question in latest_question_list %}
                <li><a href="{% url 'polls:detail' question.id %}"> Question 1:{{ question.question_text }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
            <p>No polls are available.</p>
            {% endif %}

            {% if latest_question_list %}
            {% for question in latest_question_list %}
            <a href="/polls/{{ question.id }}/results">[Results for: {{ question.question_text }}]</a>
            {% endfor %}
            {% else %}
            <p>No polls are available.</p>
            {% endif %}
        </h1>
        <h2>
            <span class="brand-text">H</span>ave some
            <span class="brand-text">B</span>reakfast
        </h2>
        <p class="landing-main-text">
            Got tired of living?
            <br>
            You have found a perfect solution...
        </p>
    </div>
</section>
<section class="landing-section langing-features">
    <section class="landing-feature feature-music-services">
        <h2>Just <span class="brand-text">GO AWAY</span> you nerd</h2>
        <ul>
            <li>Heaven</li>
            <li>Hell</li>
        </ul>
    </section>
    <section class="landing-feature feature-notifications">
        <h2>Have some <span class="brand-text">toast</span> whenever you want</h2>
        <ul>
            <li>BUTTER</li>
            <li>JAM</li>
        </ul>
    </section>
</section>

</html>