{% extends "polls/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<section class="landing-section landing-main">
    <div class="landing-section-content">
        <h1 class="nav-link">
            {% if latest_question_list %}
            <ul>
                {% for question in latest_question_list %}
                <li><a href="{% url 'polls:detail' question.id %}"> Question 1:{{ question.question_text }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
            <p>No polls are available.</p>
            {% endif %}

            {% if latest_question_list %}
            {% for question in latest_question_list %}
            <a href="/polls/{{ question.id }}/results">[Results for: {{ question.question_text }}]</a>
            {% endfor %}
            {% else %}
            <p>No polls are available.</p>
            {% endif %}
        </h1>
        <h2>
            <span class="brand-text">H</span>ave some
            <span class="brand-text">B</span>reakfast
        </h2>
        <p class="landing-main-text">
            Got tired of living?
            <br>
            You have found a perfect solution...
        </p>
    </div>
</section>

{% endblock content %}